<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/echarts.min.js"></script>
    <title>Title</title>
</head>
<body>
<div id="main" style="width:600px;height:500px;"></div>
<script type="text/javascript">
    var mychart = echarts.init(document.getElementById('main'));
    var option = {
        xAxis:{
            type:'category',
            data:{{xzhou | tojson}}
        },
        yAxis:{
            type:'value'
        },
        series:[
            {
                type:'bar',
                data:{{zhuzhuangtu_data1 | tojson}},
                label:{
                    normal:{
                        show:true,
                        position:'top'
                    }
                }
            }
        ]
    };
    mychart.setOption(option);
</script>
</body>
</html>