<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/echarts.min.js"></script>
</head>
<body>
<div id="main" style="width:600px;height:600px;"></div>
<script type="text/javascript">
    var mychart = echarts.init(document.getElementById('main'));
    var option = {
        title:{
            text:'各工具累计访问次数'
        },
        xAxis:{
            type:'category',
            data:{{task1_x | tojson}},
            axisLabel:{
                rotate:40
            }
        },
        yAxis:{
            type:'value'
        },
        series:[
            {
                type:'bar',
                data:{{task1_y | tojson}},
                label:{
                    show:true,
                    position:'insideTop'
                }
            }
        ]
    };
    mychart.setOption(option);
</script>
</body>
</html>