<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/echarts.min.js"></script>
</head>
<body>
<div id="main" style="width:500px;height:500px"></div>
<script type="text/javascript">
    var mychart = echarts.init(document.getElementById('main'));
    var option = {
        title:{
            text:'各城市所有餐厅客单价均值'
        },
        xAxis:{
            type:'value'
        },
        yAxis:{
            show:true,
            type:'category',
            value:{{task4_x | tojson}}
        },
        series:[
            {
                type:'bar',
                data:{{task4_y | tojson}}
            }
        ]
    };
    mychart.setOption(option);
</script>

</body>
</html>